/* Estilos personalizados */
body {
    padding-top: 56px; /* Ajuste para la barra de navegación fija */
}

section {
    padding: 60px 0;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#inicio {
    padding: 100px 0;
}

#sobre-mi img {
    max-width: 200px;
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}